.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2{
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }
    }
}